html,body {
    margin: 0;
    padding: 0;
}

.layui-card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.layui-card {
    padding: 15px;
}

.articleid {
    display: none;
}

.layui-form {
    margin-top: 30px;
}

.layui-form input{
 width: 350px;
}